name: DockerBuild

on:
  push:
    branches:
      - master
      - rose/add-auto-uploader

jobs:
  publish-simple-example-image:
    name: Publish Simple Example Image
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout code
      uses: actions/checkout@v2
    -
      name: DockerBuild
      uses: docker/build-push-action@v1
      with:
        dockerfile: simple-example--fibonacci-model/Dockerfile
        path: ./simple-example--fibonacci-model
        username: dafni-service-account
        password: ${{ secrets.SERVICE_ACCOUNT }}
        registry: ghcr.io
        repository: dafnifacility/simple-example--fibonacci-model
        tags: latest
        tag_with_sha: true
        tag_with_ref: true
    -
      name: Compress docker image
      run: |
        docker build -t simple-example--fibonacci-model .
        docker save -o simple-example.tar simple-example--fibonacci-model:latest
        gzip simple-example.tar
    -
      name: Upload To DAFNI
      uses: dafnifacility/dafni-model-uploader@v1.4
      with:
        definition-path: './simple-example--fibonacci-model/model_definition.yaml'
        image-path: './simple-example.tar.gz'
        username: 'model-uploader'
        password: ${{ secrets.DAFNI_SERVICE_ACCOUNT_PASSWORD }}
        version-message: "Uploaded from GitHub workflow"
        parent-model: "abdffa58-f0ee-482a-b09f-87d3dc16f31a"
  publish-tiny-example-image:
    name: Publish Tiny Example Image
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout code
      uses: actions/checkout@v2
    -
      name: DockerBuild
      uses: docker/build-push-action@v1
      with:
        dockerfile: tiny-example--hello-world-model/Dockerfile
        path: ./tiny-example--hello-world-model
        username: dafni-service-account
        password: ${{ secrets.SERVICE_ACCOUNT }}
        registry: ghcr.io
        repository: dafnifacility/tiny-example--hello-world-model
        tags: latest
        tag_with_sha: true
        tag_with_ref: true
    -
      name: Compress docker image
      run: |
        docker build -t tiny-example--hello-world-model .
        docker save -o tiny-example.tar tiny-example--hello-world-model:latest
        gzip tiny-example.tar
    -
      name: Upload To DAFNI
      uses: dafnifacility/dafni-model-uploader@v1.4
      with:
        definition-path: './tiny-example--hello-world-model/model_definition.yaml'
        image-path: './tiny-example.tar.gz'
        username: 'model-uploader'
        password: ${{ secrets.DAFNI_SERVICE_ACCOUNT_PASSWORD }}
        version-message: "Uploaded from GitHub workflow"
        parent-model: "da6d001a-d58e-4931-8e9f-af653e5f14f1"
